html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.admin-dashboard-container {
  display: flex;
  height: 100vh;
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text for better contrast */
  font-family: Arial, sans-serif;
}

.admin-content-area {
  flex-grow: 1; /* Takes up the remaining space */
  padding: 20px;
  overflow-y: auto; /* Allows scrolling if content is too long */
  background-color: #ffffff; /* White background inside content */
  color: #000000; /* Black text */
}
